<nav class="navbar navbar-expand-lg sticky-top bg-nav">
    <div class="container-fluid">
        <a href="#"><img src="../../assets/images/logo.png"></a>
        <div id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <div class="input-group">
                    <input type="text" class="form-control text-white" placeholder="Search movies" aria-label="Recipient's username" aria-describedby="basic-addon2" (input)="searchMovieList($event)">
                    <span class="input-group-text" id="basic-addon2" (click)="SerachButton()"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </form>
        </div>
    </div>

</nav>